.class-wrapper h1 {
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem 0;
  overflow: hidden;
  color: #4587f6;
  font-weight: bold; }

.class-wrapper .class-select {
  overflow: hidden;
  width: 60%;
  margin: 0 auto;
  color: #fff; }
  .class-wrapper .class-select .year {
    float: left; }
  .class-wrapper .class-select .month {
    float: right; }
  .class-wrapper .class-select div {
    border: 1px solid #ccc;
    height: 20px;
    padding: 0.1rem 0;
    line-height: 20px;
    background-color: #4587f6;
    text-align: center;
    width: 40%; }

.class-wrapper .back {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 30px;
  height: 30px;
  background: url(../images/back.png) no-repeat center;
  background-size: 100% 100%; }

.class-wrapper .btn-wrap {
  text-align: center;
  margin-top: 2rem; }
  .class-wrapper .btn-wrap .toCheck {
    color: #fff;
    background-color: #4587f6;
    padding: 0.3rem 0.6rem; }

.class-wrapper .class-content {
  width: 94%;
  margin: 1rem auto;
  font-size: 0.8rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  border: 1px solid #ccc; }
  .class-wrapper .class-content .box-left {
    flex-grow: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 0.8rem; }
  .class-wrapper .class-content .box-space {
    height: 1.1rem;
    border: 1px solid #ccc; }
  .class-wrapper .class-content .box-date {
    flex-grow: 2;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; }
  .class-wrapper .class-content .box-right {
    display: -webkit-flex;
    display: flex;
    flex-grow: 4;
    flex-direction: column; }
  .class-wrapper .class-content .box-top {
    flex-grow: 1;
    height: 1.2rem;
    display: flex;
    display: -webkit-flex; }
  .class-wrapper .class-content .date-detail {
    flex-grow: 2;
    display: flex;
    display: -webkit-flex;
    height: 11rem;
    overflow: hidden; }
  .class-wrapper .class-content span {
    flex-grow: 1;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    width: 25%;
    word-break: break-all;
    border: 1px solid #ccc;
    justify-content: center;
    text-align: center; }
