.index-wrapper {
	h1 {
		text-align: center;
		font-size: 1.8rem;
		overflow: hidden;
		color: #4587f6;
		font-weight: bold;
		margin-top: 2rem;
	}

	.index-imgbox {
		width: 90%;
		height: 8rem;
		margin: 1.2rem auto;
		text-align: center;
		line-height: 8rem;
		color: #fff;
		font-size: 2rem;

		&:nth-child(2) {
			background: url(../images/personal.png) no-repeat center;
			background-size: 100% 100%;
		}
		&:nth-child(3) {
			background: url(../images/checkGrade.png) no-repeat center;
			background-size: 100% 100%;
		}
		&:nth-child(4) {
			background: url(../images/checkClass.png) no-repeat center;
			background-size: 100% 100%;
		}
	}

	.exit {
		width: 1rem;
		height: 1rem;
		position: absolute;
		top: 1rem;
		right: 1rem;
		background: url(../images/exit.png) no-repeat center;
		background-size: 100% 100%;
	}
}