.info-wrapper {
	h1 {
		text-align: center;
		font-size: 1.8rem;
		overflow: hidden;
		color: #4587f6;
		font-weight: bold;
		margin: 1rem 0;
	}

	.personal {
		height: 2rem;
		line-height: 2rem;
		width: 50%;
		margin: 0 auto;
		overflow: hidden;
		font-size: 0.8rem;
		font-family: '微软雅黑';

		span {
			float: right;
		}
	}

	.back {
		position: absolute;
		left: 1rem;
		top: 1rem;
		width: 30px;
		height: 30px;
		background: url(../images/back.png) no-repeat center;
		background-size: 100% 100%;
	}
}